<!DOCTYPE html>

<html ng-app>
    <head>
        <title>Locator</title>
        
        <link rel="stylesheet" media="screen" href="@routes.Assets.at("stylesheets/bootstrap.css")">
        <link rel="stylesheet" media="screen" href="@routes.Assets.at("stylesheets/custom.css")">

        <link rel="shortcut icon" type="image/png" href="@routes.Assets.at("images/favicon.png")">
        
        @*Angular*@
        <script src="@routes.WebJarAssets.at(WebJarAssets.locate("angular.min.js"))"></script>
        
        <script src="@routes.Assets.at("javascripts/modernizr.js")"></script>
        <script src="@routes.Assets.at("javascripts/LocatorController.js")"></script>

    </head>

    <body class="container" ng-app>

      <h2>Locator</h2>
      <hr>
      <div class="row" ng-controller="LocatorController">
        <div class="span12">
          <form method="post" action="" class="form-inline" ng-submit="get_location_name()">
            <label for="coordinates">Latitude and longitude</label>
            <input name="coordinates" class="span5 field" type="text" ng-model="coordinates" >
            <label for="ip">IP address</label>
            <input name="ip" class="span5 field" type="text" ng-model="ip">
            <hr>
            <button type="submit" class="btn btn-primary">
              Go
            </button>
          </form>
        </div>
      </div>
        
    
    </body>


</html>
